
h1{
    font-family: 'Courier New', Courier, monospace;
    color:#8b8b8bcc;
    font-weight: 300;
    text-align: center;
}
h5{
    color: #46484c;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
button{
    color: #fff;
    background-color: #025157;
}
body{
    background-color: #fffbf7;
}
.header{
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
}
.imageiz{
    width: 50px;
    height: 50px;
    margin-right: 200px;
}
ul{
    display: flex;
}
.l1{
    margin-right: 30px;
}

.l2{
    margin-right: 30px;
}
.l3{
    margin-right: 30px;
}
.l4{
    margin-right: 30px;
}
.l5{
    margin-right: 30px;
}
.header > * {
    display: inline-block;
  }
  .boton{
      border-radius: 25px;
  }
  .Encabezadovideo{
      color: #025157;
      font-size: 40px;
      font-weight:strong;
  }
  .parrafovideo{
      color: #343434;
  }
  .promo{
      display: flex;
      width: 70%;
      margin: 100px auto;
  }
  @media(max-width:575px){
      .promo{
          flex-direction: column;
          width: 90%;
      }
      .explanatory-video > video{
          width: 100%;
      }
      .publish{
          margin-top: 10px;
           
      }
      .publish > h3{
          font-size: 25px;
          line-height: 1.2;
      }
  }
  .video{
      margin-right: 30px;
  }
.explanatory-video{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.see{
    width: 120px;
    margin-top: 10px;
}
.main{
    margin-top: 285px;
    text-align: center;
}
@media (max-width: 575px) {
    .navbar,
    .actions {
      display: none;
    }
    .main{
        margin-top: 130px;
    }
    h1 {
        font-size: 30px;
      }
  
  }
.fixed-header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color:#fffbf7 ;
}
.feature{
    display: grid;
    grid-template: repeat(2,1fr)/repeat(2,1fr);
    height: 660px;
    background-color: #025157;
    padding: 5% 10%;
}
.feature-card{
    margin-bottom: 30px;
    margin-left: 15px;
    margin-right: 15px;
    background-color: #fff;
    border: 1px solid #dadada;
    border-radius: 5px;
    display: flex;
    align-items: center;
    overflow: hidden;
}
.feature-content{
    padding: 30px 20px 40px 40px;
    flex: 1;
    text-align: left;
}
.feature-content > * {
    margin-bottom: 1rem;
    margin-top: 0;
  }
  .feature-content img{
      width: 50px;
  }
  .feature-content h3 {
    font-size: 24px;
    color: #343434;
    font-weight: 400;
  }
  .feature-content p {
    font-size: 16px;
    color: #7e7e7e;
    font-weight: 400;
  }
  .feature-content a {
    font-size: 16px;
    color: #67b54b;
    font-weight: 600;
    text-decoration: none;
  }
  .feature-image {
    flex: 1;
    width: 40%;
    position: relative;
    right: -50px;
    height: 80%;
  }
  .feature-image img {
    margin-top: 0;
    height: 100%;
    width: 100%;
  }
  .figure1{
      width: 100%;
  }
  .postwork3{
      display: flex;
      background-color: #a1d683;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      flex-wrap: nowrap;
      padding: 5% 15%;
      margin-top: 10%;
  }
  .flexitem1{
      flex-grow: 2;
      text-align: left;
      padding-right: 100px;
      flex-direction: row;
  }
  .flexitem2{
      display: flex;
      flex-grow:1;
      flex-direction: column;

  }
 #growing{
     color: #025157;
     font-weight: bolder;
     font-size: 50px;
     font-family: "Alegreya", serif;
 }
 #are{
    color: #343434;
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 1rem;
 }
 #logos{
     max-width: 30vw;
 }
 #abajo_imagen{
     text-align: left;
     color: #8b8b8bcc;
     background-color: white;
 }
 #textoimagen{
     color: #025157;
     font-size: 18px;
     font-weight: 600;
     line-height: 20px;
     margin-bottom: 12px;
 }
 #icon_cart{
     width: 26px;
     margin-right: 20px;
 }
 #paragraphimage{
     font-size: 25px;
     font-weight: 400;
     line-height: 30px;
     margin-bottom: 20px;
     color: black;
 }
 #boton{
     margin-top: 20px;
     width: 100%;
 }
.hdmw{
    display: block;
    text-align: center;
    padding: 5% 10%;
    background-color: #fffbf7;
}
.text h3{
    color: #025157;
    font-size: 50px;
    line-height: 60px;
    font-weight: 800;
    font-family: "Alegreya", serif;
    margin-bottom: 8px;
}
.text p{
    font-size: 18px;
    color: #46484c;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 16px;
    max-width: 60%;
    text-align: center;
    margin: 0 auto;
}
.text button{
    margin-top: 6px;
}
.image{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding: 5% 10%;
}
.imageitem img{
    position: relative;
    vertical-align: middle;
    width: 50%;
}
.imageitem a{
    text-decoration: none;
    color: #67b54b;
    font-size: 16px;
}
.imageitem{
    text-align: left;
}
.imageitem h3{
    text-align: center;
    color: #025157;
    font-size: 30px;
    font-weight: 900;
}
@media (max-width: 575px) {
    /** Media queries previos al banner **/
    .banner > img {
      width: 100%;
    }
  }
  @media (max-width: 575px) {
    .publish > form {
      flex-direction: column;
    }
  
    .publish > form > div {
      height: 50px;
      margin-top: 10px;
      display: flex;
    }
  
    .publish > form > div > input {
      width: 65%;
    }
    .feature {
        grid-template: repeat(4, 1fr) / 1fr;
        padding-left: 0;
        padding-right: 0;
        height: 100%;
      }
      
      .feature-image {
        display: none;
      }
}